@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto:wght@100;400;700&display=swap');

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Roboto';
}

.img-fluid {
   border-radius: 30px;
}

.error {
   color: red;
}

.bg-lightgray {
   border-bottom: 1px solid #adb0b31c;
   background-color: #adb0b31c;
}

@media (min-width:1024px) and (max-width:1400px) {
   * {
      overflow: hidden;
   }

}